* {
  margin: 0;
  padding: 0;
}

/*-- PC版表示CSS  --*/
.pc_area{
    display:block;
  }
.phone_area{
    display:none;
  }
  
  
  /*-- スマホ版表示CSS  --*/
  @media screen and (max-width: 600px){
    .pc_area{
      display:none;
    }
    .phone_area{
      display:block;
      width: 90vw;
    }
    body{
      width: 100vw;
      height: 100vh;
      background-image: url("images/background_3.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      background-position: center top;
      display: flex;
      justify-content: center;
      margin-top: 15vh;
      overscroll-behavior: none;
      overflow:hidden;
      }
    #calc_screen{
      display: flex;
      justify-content: center;
      background: rgba(0, 0, 0, 0.6);
    }
    div.prices {
      width: 40%;
    }
    .text {
      font-size: 250%;
      font-family: "Comic Sans MS";
      color: #fff;
      line-height: 1.8;
    }
    .buttons{
      font-family: "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Apple Color Emoji",
      "Noto Color Emoji",
      "Noto Emoji",
      sans-serif;
      width: 90vw;
      display: flex;
      justify-content: space-around;
      background: transparent;
      margin-top: 15vh;
      user-select: none;
    }
    input[type="button"] {
      font-size: 400%;
    }
    #price {
      font-size: 250%;
      width: 36vw;
      text-align: right;
      background: transparent;
      border: none;
    }
    .prices {
      text-align: right;
      margin-right: 10vw;
    }
  }